body {
    background: linear-gradient(-45deg, rgb(65, 67, 88),  #c9edff, rgb(30, 34, 43));
    background-size: 500% 500%;
	animation: gradient 16s ease infinite;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.app {
	margin: 0 auto;
	background-color: #242424;
	max-width: 800px;
	width: 100%;
	height: 500px;
	margin-top: 2rem;
	color:#fff;
	border-radius: 10px;
}
.header {
	border-radius: 10px;
	background-color:rgb(80, 80, 80);
	padding: 8px 0;
}
.title {
	text-align: center;
	letter-spacing: 4px;
	font-weight: 700;
}
.customize__title {
	display: block;
}
.main {
	padding: 0 60px;
}
.input-range {
	background-color:rgb(190, 190, 190);
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 10px;
	height: 8px;
	width: 200px;
}
.input-range::-webkit-slider-thumb, .input-range::-moz-range-thumb {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background:#1b51b6;
    border-radius: 18px;
    cursor: pointer;
	transition: .1s;
	border: 1px solid rgb(106, 175, 255);
}
.input-screen {
	width: 80px;
	height: 40px;
	border-radius: 10px;
	outline: none;
	border: none;
	padding: 2px 6px;
	font-size: 26px;
	border: 2px solid rgb(255, 255, 255);
	margin-right: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
	margin: 0; 
}
input[type='number'] {
    -moz-appearance:textfield;
}
.customize__title {
	margin-bottom: 10px;
}
.customize__title {
	font-size: 18px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
.customize {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.mod__chekbox {
	-webkit-appearance: none;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	border: 1px solid #fff;
	vertical-align: middle;
	margin-right: 8px;
	cursor: pointer;
	outline: none;
}
.mod__chekbox:checked {
	background-color:#fff;
}
.mod {
	margin-bottom: 16px;
}
.customize__block h2 {
	margin-bottom: 16px;
}
.button-generation {
	margin: 0 auto;
	display: block;
	width: 250px;
	height: 50px;
	cursor: pointer;
	border: 1px solid #1b51b6;
	border-radius: 10px;
	outline: none;
	background:#1b51b6;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 4px;
}
.button-generation:hover {
	transition: .3s;
	background-color: #2a65d3;
}
.rezult {
	background-color:#505050;
	width: 600px;
	height: 60px;
	border-radius: 10px;
	border: 1px solid #505050;
	padding: 10px;
	margin: 0 auto;
	-ms-word-break: break-all;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
	hyphens: auto;
	margin-top: 20px;
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.error {
	width: 100%;
	height: 30px;
	color: rgb(240, 48, 48);
	padding-top: 5px;
	text-align: center;
	border: 1px solid red;
	border-radius: 4px;
	margin-top: 6px;
	display: none;
}
.wrap {
	display: flex;
}
.copy svg {
	width: 40px;
	height: 40px;
	fill: #fff;
	margin-top: 16px;
}
.copy {
	background:none;
	border:none;
	outline: none;
	cursor: pointer;
	margin-left: 10px;
}
@media screen and (max-width: 630px) {
	.main {
		padding: 0 8px;
	}
}
@media screen and (max-width: 480px) {
	.app {
		height: 600px;
	}
	
}
@media screen and (max-width: 440px) {
	.error {
		width: 100%;
		height: 50px;
		color: rgb(240, 48, 48);
		padding-top: 5px;
		text-align: center;
		border: 1px solid red;
		border-radius: 4px;
		margin-top: 6px;
		display: none;
	}
}
@media screen and (max-width: 380px) {
	.input-range {
		width: 120px;
	}
	.rezult {
		width: 200px;
	}
}